.w-100 {
    width: 100%;
}
.main {
    margin-top: 4%;
    padding: 20px 50px 20px 50px;
}
.firstBlock {
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 16px;
    padding-right: 30px;
}
.produtPreview {
    display: inline-block;
}
.heading {
    display: inline-block;
    margin-left: 15px;
}
.Title {
    font-weight: 500;
    font-size: 16px;
    margin-top: -10px;
}
.btnRemove {
    color: black;
    margin: 15px !important;
}
.leftSideTitle {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 16px;
}
.subTitle {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 14px;
}
.discount {
    color: lightblue;
}
.sectionTotal {
    font-weight: 600;
}
.discountDesc {
    color: rgb(230, 68, 122);
    font-size: 12px;
}
.strikethrough {
    text-decoration: line-through;
    color: #aaaaaa;
    font-size: 12px;
}
.discount {
    color: #ff905a;
    margin-left: 5px;
    font-size: 12px;
}
.finalAmount {
    margin-top: 6px;
}
.secondBlock {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
}
